#paintPrice {

    color: white;
    background: black;
    text-align: left;
    width: 60%;
    font-size: 20px;
    line-height: 20px;
    margin: auto;
    margin-top: 2em;


}
body {
 margin-top: 2em;

    font-family: Arial, Helvetica, sans-serif;

}
